<style>
  #products img {
    width: 100%;
  }

  @media(min-width: 960px) {
    #products .col-md-3 .product-card {
      width: auto;
      height: 150px;
    }

    #products .col-md-3 .well {
      height: 350px;
    }

    #products .col-md-3 .view {
      width: 100%;
      height: 150px;
    }

    #products .col-md-3 img {
      width: auto;
      height: 100%;

    }
  }


  /*------/ Property Single /-----*/

  .gallery-property {
    margin-bottom: 3rem;
  }

  .property-price {
    margin: 0 auto;
  }

  .property-price .card-header-c {
    padding: 0;
  }

  .summary-list {
    padding-right: 1rem;
    color: #000000;
  }

  .summary-list .list {
    padding: 0;
    line-height: 2;
  }

  .summary-list .list span {
    color: #555555;
  }

  .property-agent .title-agent {
    font-weight: 600;
  }

  .property-agent ul {
    line-height: 2;
    color: #000000;
  }

  .property-agent .socials-a {
    text-align: center;
  }
</style>
<!--header -->
<div class="header" id="drop">
  {{>home/header}}
</div>
<!-- /header -->
<link rel="stylesheet" type="text/css" href="../../assets/css/index.css">
<!--  body -->
<div id="usezan-v7">
  <link rel="stylesheet" href="../../assets/css/swiper.css">
  <link rel="stylesheet" href="../../assets/css/animate.min.css">
  <script src="../../assets/js/swiper.min.js"></script>
  <script src="../../assets/js/swiper.animate1.0.2.min.js"></script>
  <div class="container-fluid text-lg p-lg-5">
    <div class="row py-2">
      <div class="col-md-3 pl-5">
        <div class="card h-100 shadow">
          {{> home/side }}
        </div>
      </div>
      <div class="col-md-9">
        <div class="card h-100 shadow">
          <div class="card-header text-white amber darken-1">Danh sách sản phẩm</div>
          <div class="card-body">
            <div class="row">
              <div class="container text-black-50">
                <div id="products" class="row text-dark">
                  {{#each products}}
                    <div onclick="getDetailProduct('{{ProID}}')"
                      class="product-card text-white col-md-3 mb-4 pt-3 d-flex justify-content-center">
                      <div id={{ProID}} class="well text-center d-flex flex-wrap flex-column justify-content-center ">
                        <!--Card view-->
                        <div class="view overlay zoom d-flex justify-content-center">
                          <img src="../../../sp/{{ProID}}/1.jpg" class="img-fluid" alt="zoom">
                          <div class="mask flex-center waves-effect waves-light ">
                            <p class="card-body text-white  rgba-black-strong p-2 align-self-end">
                              {{ProName}}</p>
                          </div>
                        </div>
                        <!-- Card time -->
                        <div class="rounded-top mdb-color lighten-3 text-center mt-3">
                          <ul class="list-unstyled list-inline font-small p-1 m-0">
                            <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>05/10/2015
                            </li>
                            <li class="timer-countdown list-inline-item pr-2 white-text"><i
                                class="fas fa-hourglass-half" data-countdown="01/01/2020"></i>
                            </li>
                          </ul>
                        </div>
                        <!--Card content-->
                        <div class="orange text-white rounded-bottom m-0">
                          <ul class="list-unstyled list-inline font-small p-1 m-0">
                            <li>
                              <ul class="list-unstyled list-inline font-small p-1 m-0 d-flex justify-content-between">
                                <li class="list-inline-item pr-2 white-text"><i
                                    class="fas fa-hand-holding-usd"></i>50000
                                </li>
                                <li class="list-inline-item pr-2 white-text"><i
                                    class="fas fa-user-clock pr-1"></i>UserName
                                </li>
                              </ul>
                            </li>
                            <li>
                              <ul class="list-unstyled list-inline font-small p-1 m-0 d-flex justify-content-between">
                                <li class="list-inline-item pr-2 white-text"><i class="fas fa-dollar-sign"></i>{{Price}}
                                </li>
                                <li class="list-inline-item pr-2 white-text"><i class="fas fa-hammer pr-2"></i>15
                                </li>
                              </ul>
                            </li>
                          </ul>
                          {{!-- <div class="align-self-end">
                                                    <a onclick="getDetailProduct('{{ProID
                                                        class="btn peach-gradient btn-sm ">Đấu giá ngay!!!</a>
                                                </div> --}}
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <nav>
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="?page={{prev_value}}">
                        <i class="fa fa-backward" aria-hidden="true"></i>
                      </a>
                    </li>
                    {{#each this.page_numbers}}
                      {{#if isCurrentPage}}
                        <li class="page-item active" aria-current="page">
                          <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
                        </li>
                      {{else}}
                        <li class="page-item">
                          <a class="page-link" href="?page={{value}}">{{value}}</a>
                        </li>
                      {{/if}}
                    {{/each}}
                    <li class="page-item">
                      <a class="page-link" href="?page={{next_value}}">
                        <i class="fa fa-forward" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <i class="footer-bor" style="background:#acacac;opacity:.1;"></i>
  <div id="footer" class="footer wow slideInUp backcolor back-footer animated"
    style="background: rgb(236, 179, 90); visibility: visible; animation-name: slideInUp;">
    {{>home/bottom}}
  </div>
  <!-- /footer -->
</div>
<!--  /body -->
<!-- <script src="../../assets/js/online.js"></script> -->
<!-- SCRIPTS -->
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../../assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../../assets/js/mdb.min.js"></script>
<script type="text/javascript">
  function getDetailProduct(id) {
    window.location = `products/` + id;
    return false;
  }


</script>