<style>
  .slide-img img {
    width: auto;
    height: 100%;
  }

  .slide-img {
    width: 100%;
    height: 450px;
  }

  .owl-carousel .owl-item img {
    display: block;
    width: auto;
    height: 450px;
  }

  #property-single-carousel {
    height: 450px;
  }

  /*------/ Property Single /-----*/

  .gallery-property {
    margin-bottom: 3rem;
  }

  .property-price {
    margin: 0 auto;
  }

  .property-price .card-header-c {
    padding: 0;
  }

  .summary-list {
    padding-right: 1rem;
    color: #000000;
  }

  .summary-list .list {
    padding: 0;
    line-height: 2;
  }

  .summary-list .list span {
    color: #555555;
  }

  .property-agent .title-agent {
    font-weight: 600;
  }

  .property-agent ul {
    line-height: 2;
    color: #000000;
  }

  .property-agent .socials-a {
    text-align: center;
  }

  /*------/ Owl carousel /------*/

  .owl-theme .owl-dots {
    text-align: center;
    margin-top: 18px;
  }

  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 9px;
    margin: 5px 5px;
    background: #000000;
    border: 0px solid #000000;
    display: block;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    border-radius: 0px;
  }

  .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #2eca6a;
  }

  .owl-theme .owl-dots .owl-dot.active span {
    background-color: #2eca6a;
    width: 35px;
  }

  .owl-arrow .owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
  }

  .owl-arrow .owl-nav .owl-prev,
  .owl-arrow .owl-nav .owl-next {
    display: inline-block;
    transition: all 0.6s ease-in-out;
    color: #000000;
  }

  .owl-arrow .owl-nav .owl-prev.disabled,
  .owl-arrow .owl-nav .owl-next.disabled {
    transition: all 0.6s ease-in-out;
    color: #adadad;
  }

  .owl-arrow .owl-nav .owl-next {
    margin-left: 15px;
  }

  .nav-arrow-a .owl-arrow .owl-nav {
    font-size: 1.8rem;
    margin-top: -110px;
  }

  .nav-arrow-a .owl-arrow .owl-nav .owl-next {
    margin-left: 15px;
  }

  .nav-arrow-b .owl-arrow .owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
  }

  .nav-arrow-b .owl-arrow .owl-nav .owl-prev,
  .nav-arrow-b .owl-arrow .owl-nav .owl-next {
    padding: .7rem 1.5rem !important;
    display: inline-block;
    transition: all 0.6s ease-in-out;
    color: #ffffff;
    background-color: #2eca6a;
    opacity: .9;
  }

  .nav-arrow-b .owl-arrow .owl-nav .owl-prev.disabled,
  .nav-arrow-b .owl-arrow .owl-nav .owl-next.disabled {
    transition: all 0.6s ease-in-out;
    color: #ffffff;
  }

  .nav-arrow-b .owl-arrow .owl-nav .owl-prev:hover,
  .nav-arrow-b .owl-arrow .owl-nav .owl-next:hover {
    background-color: #26a356;
  }

  .nav-arrow-b .owl-arrow .owl-nav .owl-next {
    margin-left: 0px;
  }

  /*------/ Intro Single /------*/

  .intro-single {
    padding: 0rem 0 3rem;
  }

  .intro-single .title-single-box {
    padding: 1rem 0 1rem 2rem;
  }

  .intro-single .title-single-box {
    border-left: 3px solid #2eca6a;
  }

  .intro-single .title-single-box .title-single {
    font-weight: 600;
    font-size: 2.2rem;
  }

  .intro-single .breadcrumb-box {
    padding: 1rem 0 0 .5rem;
  }

  .intro-single .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
  }

  .slide-img {
    height: 300px;
    width: auto;
  }
</style>
<!--header -->
<div class="header" id="drop">
  {{>home/header}}
</div>
<!-- /header -->
<link rel="stylesheet" type="text/css" href="../../assets/css/index.css">
<!--  body -->
<div id="usezan-v7">
  <link rel="stylesheet" href="../../assets/css/swiper.css">
  <link rel="stylesheet" href="../../assets/css/animate.min.css">
  <script src="../../assets/js/swiper.min.js"></script>
  <script src="../../assets/js/swiper.animate1.0.2.min.js"></script>
  <div class="container-fluid text-lg p-lg-5">
    <div class="row py-2">
      <div class="col-md-3 pl-5">
        <div class="card h-100 shadow">
          {{> home/side }}
        </div>
      </div>
      <div class="col-md-9">
        <div class="card h-100 shadow">
          {{#each this.product}}
            <!--/ Intro Single star /-->
            <section class="intro-single">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                      <h1 class="title-single">{{ProName}}</h1>
                      <span class="color-text-a">{{TinyDes}}</span>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                      <ol class="breadcrumb">
                        {{TimeFinish}}
                      </ol>
                    </nav>
                  </div>
                </div>
              </div>
            </section>
            <!--/ Intro Single End /-->
            <!--/ Property Single Star /-->
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property slide-img d-flex">
                    <div class="carousel-item-b d-flex justify-content-center">
                      <img src="../../../sp/{{ProID}}/1_1.jpg" alt="">
                    </div>
                    <div class="carousel-item-b d-flex justify-content-center">
                      <img src="../../../sp/{{ProID}}/1_2.jpg" alt="">
                    </div>
                    <div class="carousel-item-b d-flex justify-content-center">
                      <img src="../../../sp/{{ProID}}/1_3.jpg" alt="">
                    </div>
                  </div>
                  <div class="row justify-content-between">
                    <div class="col-md-5 col-lg-4">
                      <div class="property-price d-flex justify-content-center foo">
                        <div class="card-header-c d-flex">
                          <div class="card-box-ico">
                            <span class="ion-money">$</span>
                          </div>
                          <div class="card-title-c align-self-center">
                            <h3 class="title-c">{{Price}}</h3>
                          </div>
                        </div>
                      </div>
                      <div class="property-summary">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="title-box-d section-t4">
                              <h3 class="title-d">Thông tin người bán</h3>
                            </div>
                          </div>
                        </div>
                        <div class="container">
                          <!-- Card -->
                          <div class="card testimonial-card">
                            <!-- Background color -->
                            <div class="card-up winter-neva-gradient lighten-1"></div>
                            <!-- Avatar -->
                            <div class="avatar mx-auto white">
                              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                                class="rounded-circle" alt="woman avatar">
                            </div>
                            <!-- Content -->
                            <div class="card-body">
                              {{#each this.user}}
                                <!-- Name -->
                                <h4 class="card-title">{{this.f_Name}}</h4>
                                <hr>
                                <!-- Quotation -->
                                <div class="d-flex flex-column align-items-start">
                                  <p><i class="fas fa-envelope mr-2"></i> {{this.f_Email}}</p>
                                  <p><i class="fas fa-mobile-alt mr-2"></i>+{{this.f_phone}}</p>
                                  <p><i class="fas fa-map-marked-alt mr-2"></i>{{this.f_address}}</p>
                                </div>
                              {{/each}}
                            </div>
                          </div>
                          <!-- Card -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 col-lg-7 section-md-t3">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="title-box-d">
                            <h3 class="title-d">Thông tin mô tả</h3>
                          </div>
                        </div>
                      </div>
                      <div class="property-description">
                        {{{FullDes}}}
                      </div>
                      <div class="row section-t3">
                        <div class="col-sm-12">
                          <div class="title-box-d">
                            <h3 class="title-d">Người ra giá cao nhất</h3>
                          </div>
                        </div>
                      </div>
                      <div class="">
                        <!-- Rotating card -->
                        <div class="card-wrapper">
                          <div id="card-1" class="card card-rotating text-center">
                            <!-- Front Side -->
                            <div class="face front">
                              <!-- Image-->
                              <div class="card-up">
                                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo7.jpg"
                                  alt="Image with a photo of clouds.">
                              </div>
                              <!-- Avatar -->
                              <div class="avatar mx-auto white"><img
                                  src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle"
                                  alt="Sample avatar image.">
                              </div>
                              <!-- Content -->
                              <div class="card-body">
                                <h4 class="font-weight-bold mb-3">Marie Johnson</h4>
                                <p class="font-weight-bold blue-text">Web developer</p>
                                <!-- Triggering button -->
                                <a class="rotate-btn" data-card="card-1"><i class="fas fa-redo-alt"></i> Click here to
                                  rotate</a>
                              </div>
                            </div>
                            <!-- Front Side -->
                            <!-- Back Side -->
                            <div class="face back">
                              <div class="card-body">
                                <!-- Content -->
                                <h4 class="font-weight-bold mb-0">About me</h4>
                                <hr>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat tenetur odio suscipit
                                  non commodi vel
                                  eius veniam maxime?
                                  <hr>
                                  <!-- Social Icons -->
                                  <ul class="list-inline py-2">
                                    <li class="list-inline-item"><a class="p-2 fa-lg fb-ic"><i
                                          class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a class="p-2 fa-lg tw-ic"><i
                                          class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="p-2 fa-lg gplus-ic"><i
                                          class="fab fa-google-plus-g"></i></a></li>
                                    <li class="list-inline-item"><a class="p-2 fa-lg li-ic"><i
                                          class="fab fa-linkedin-in"></i></a></li>
                                  </ul>
                                  <!-- Triggering button -->
                                  <a class="rotate-btn" data-card="card-1"><i class="fas fa-undo"></i> Click here to
                                    rotate back</a>
                              </div>
                            </div>
                            <!-- Back Side -->
                          </div>
                        </div>
                        <!-- Rotating card -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Property Single End /-->
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <i class="footer-bor" style="background:#acacac;opacity:.1;"></i>
  <div id="footer" class="footer wow slideInUp backcolor back-footer animated"
    style="background: rgb(236, 179, 90); visibility: visible; animation-name: slideInUp;">
    {{>home/bottom}}
  </div>
  <!-- /footer -->
</div>
<!--  /body -->
<!-- <script src="../../assets/js/online.js"></script> -->
<!-- SCRIPTS -->
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../../assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../../assets/js/mdb.min.js"></script>
<script>
  var nav = $('nav');
  var navHeight = nav.outerHeight();
  /*--/ ScrollReveal /Easy scroll animations for web and mobile browsers /--*/
  window.sr = ScrollReveal();
  sr.reveal('.foo', { duration: 1000, delay: 15 });
  /*--/ Carousel owl /--*/
  $('#carousel').owlCarousel({
    loop: true,
    margin: -1,
    items: 1,
    nav: true,
    navText: [`<i class="ion-ios-arrow-back" aria-hidden="true"></i>', '<i class="ion-ios-arrow-forward" aria-hidden="true" ></i > `],
    autoplay: true,
    autoplayTimeout: 3000,
    autoplayHoverPause: true
  });
  /*--/ Animate Carousel /--*/
  $('.intro-carousel').on('translate.owl.carousel', function () {
    $('.intro-content .intro-title').removeClass('zoomIn animated').hide();
    $('.intro-content .intro-price').removeClass('fadeInUp animated').hide();
    $('.intro-content .intro-title-top, .intro-content .spacial').removeClass('fadeIn animated').hide();
  });
  $('.intro-carousel').on('translated.owl.carousel', function () {
    $('.intro-content .intro-title').addClass('zoomIn animated').show();
    $('.intro-content .intro-price').addClass('fadeInUp animated').show();
    $('.intro-content .intro-title-top, .intro-content .spacial').addClass('fadeIn animated').show();
  });
  /*--/ Navbar Collapse /--*/
  $('.navbar-toggle-box-collapse').on('click', function () {
    $('body').removeClass('box-collapse-closed').addClass('box-collapse-open');
  });
  $('.close-box-collapse, .click-closed').on('click', function () {
    $('body').removeClass('box-collapse-open').addClass('box-collapse-closed');
    $('.menu-list ul').slideUp(700);
  });
  /*--/ Property owl owl /--*/
  $('#property-single-carousel').owlCarousel({
    loop: true,
    margin: 0,
    nav: true,
    navText: ['<i class="ion-ios-arrow-back" aria-hidden="true"></i>', '<i class="ion-ios-arrow-forward" aria-hidden="true"></i>'],
    responsive: {
      0: {
        items: 1,
      }
    }
  });

</script>